.container {
    height: 100px;
    display: flex;
}
.container div:first-of-type {
    background-color:pink;
    width: 100px;
}
.container div:last-of-type {
    background-color: lightblue;
    width: 200px;
}
.tab {
    display: flex;
    justify-content: space-between;
}
.tab > p {
    background-color: black;
    color: white;
}